.create-request__container {
    height: 100%;
    width: 40%;
    color: black;
    background-color: #f5deb3; /* light wood color */
    border: 16px solid #8b5c2a; /* dark wood border */
    box-shadow: 0 0 6px 2px inset #d2b48c; /* inner shadow for depth */
    border-radius: 8px;
}

.create-request__container form {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.create-request__container form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.create-request__container form div input {
    width: 65%;
    height: 32px;
}

.create-request__container form div label {
    text-align: left;
}